[submodule ".vim/pack/vendor/start/nerdtree"]
	path = .vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/vendor/start/fugitive"]
	path = .vim/pack/vendor/start/fugitive
	url = https://tpope.io/vim/fugitive.git
[submodule ".vim/pack/vendor/start/vim-gitgutter"]
	path = .vim/pack/vendor/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/pack/vendor/start/vim-airline"]
	path = .vim/pack/vendor/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
